<h1> salut </h1>


<% Item.all.each do |x| %>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header"><%= x.title %></div>
  <div class="card-body">
    <p class="card-text"><%= x.image_url %></p>
  </div>
</div>




<a href="<%= item_path(x.id) %>" class="btn btn-primary">Show</a>




<% end %>
